<% layout('layouts/boilerplate') %>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX19262413.jpg" alt=""
                        class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">register</h5>
                        <form action='/register' method='POST' class='validated-form' novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input type="text" class='form-control' id='username' name='username' required>
                                <div class='valid-feedback'>
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input type="email" class='form-control' id='email' name='email' required>
                                <div class='valid-feedback'>
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input type="password" class='form-control' id='password' name='password' required>
                                <div class='valid-feedback'>
                                    Looks good!
                                </div>
                            </div>
                            <div class="d-grid mt-3">
                                <button class="btn btn-success">Register</button>
                            </div>
                        </form>
                    </div>
                </div>